extends ./layout

block content
	include ./partials/_header
	.app--tweet
		form
			.circle--fluid
				.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
					.app--avatar(style="background-image: url(static/images/m-spore.png)")
						img(src="static/images/m-spore.png")
					textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?")
					strong#tweet-char.app--tweet--char 140
				.circle--fluid--cell.align-bottom
					button.button-primary Tweet
	.bounds.app--body
		.app--section--header
			.grid-33
				.app--section--heading
					h2 Timeline
			.grid-33
				.app--section--heading
					strong 129
					h2 Following
			.grid-33
				.app--section--heading
					h2 Direct Messages
		include ./partials/_timeline
		include ./partials/_following
		include ./partials/_messages
