extends _app-section
block content
	ul.app--user--list
		each followUser in following
			li
				.circle--fluid
					.circle--fluid--cell.circle--fluid--primary
						a.app--tweet--author
							.app--avatar(style=`background-image: url(${followUser.profile_image_url})`)
								img(src=`${followUser.profile_image_url}`)
							h4 #{followUser.name}
							p @#{followUser.screen_name}
					.circle--fluid--cell
						a.button.button-text Unfollow
