header.circle--header
	.bounds
		.circle--fluid
			.circle--fluid--cell
				a.logo(href="/")
					include ../../../public/images/twitter.svg
					h1 @grattspore
			.circle--fluid--cell.align-right
				nav
					ul.circle--inline
						li
							a Sign Out
