extends _app-section
block content
	ul.app--tweet--list
		li
			strong.app--tweet--timestamp 4h
			a.app--tweet--author
				.app--avatar(style="background-image: url(static/images/f-spore.png)")
					img(src="static/images/f-spore.png")
					h4 Jill Spore
					| @jillspore
			p {{Tweet Message}}
			ul.app--tweet--actions.circle--list--inline
				li
					a.app--reply
						span.tooltip Reply
						include ../../../public/images/reply.svg
				li
					a.app--retweet
						span.tooltip Retweet
						include ../../../public/images/retweet.svg
						strong {{Retweet count}}
				li
					a.app--like
						span.tooltip Like
						include ../../../public/images/like.svg
						strong {{Like count}}
